@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Moon+Dance&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    overflow-x: hidden;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
nav {
    margin-bottom: -75px;
}

/* HEADER */
#header {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#header::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
}

#header img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    pointer-events: none;
}

#header img#head-img {
    width: 100%;
    height: 100%;
}

#header img#astronaut {
    width: 200px;
    margin-top: 200px;
}

.header-title {
    z-index: 100;
}

.header-before .upper-text {
    font-family: 'Moon Dance', sans-serif !important;
    font-size: 45px;
    font-weight: 600;
    text-transform: capitalize;
}

.header-before .deHayvan {
    margin-top: -35px;
}

.header-before h2 {
    font-family: 'Permanent Marker', sans-serif !important;
    font-size: 90px;
    text-transform: uppercase;
}

.header-before .deHayvan p {
    font-family: 'Kalam', sans-serif !important;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
}

.header-before {
    position: absolute;
}

.header-after h1 {
    text-transform: capitalize;
    font-weight: 500;
}

.header-after p {
    font-weight: 300;
    color: #ffffffcf !important;
}

.line-inner {
    position: absolute;
    z-index: 100;
    width: 0.1px;
    height: 200px;
    background-color: #fff;
}

/* ANIMALS */
#animals {
    height: 100vh;
    display: flex;
}

.card {
    position: relative;
    width: 25%;
    height: 100vh;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    filter: brightness(50%);
    transition: all 0.6s;
}

.card img,
.credit-card-2-img {
    transition: all 2s ease-in;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card__content {
    position: absolute;
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 25%;
    padding: 20px 20px 0 40px;
    box-sizing: border-box;
    transform: translateY(100px);
    opacity: 0;
    transform-origin: bottom;
    transition: all 0.3s;
}


.card__title {
    margin: 0;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
}

.card__description {
    text-decoration: none;
    color: #fff;
    margin: 8px 0 0;
    font-size: 16px;
    line-height: 1.4;
}

.card:hover .card__description {
    color: #fff;
}

.card:hover,
.card-img:hover .card-images-1 {
    filter: brightness(100%);
}

.card:hover .card__content {
    transform: translateY(10px);
    opacity: 1;
}

.card:hover img,
.card-img:hover .credit-card-2-img {
    transform: scale(1.2);
}

/* GOONIES */
#goonies {
    height: 100vh;
    position: relative;

}

#goonies img {
    position: absolute;
}

.goonies-1 {
    width: 195px;
    opacity: 0.5;
}

.goonies-2 {
    width: 152px;
    margin-right: 350px;
    margin-top: -120px;
}

.goonies-3 {
    width: 90px;
    margin-left: 450px;
    opacity: 0.6;
}

.goonies-4 {
    width: 119px;
    margin-right: 600px;
    opacity: 0.4;
}

.goonies-5 {
    margin-left: 500px;
    width: 195px;
    opacity: 0.4;
}

.goonies-title h2 {
    position: absolute;
    font-size: 3rem;
    color: #fff;
    z-index: 100;
    top: 300px;
    opacity: 0.7;
}

/* credit  */
#credit .credit-card {
    border: 1px solid #464646;
    width: 25%;
    height: 320px;
    margin: 0;
    position: relative;
}

.card-flex {
    width: 50% !important;
    overflow: hidden;
}

.card-img {
    overflow: hidden;
}

.credit-card .card-title {
    margin: 100px 0 0 0;
}

.credit-card .card-title h1 {
    font-size: 3rem;
    transition: all 0.3s;
}

.credit-card .card-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    padding: 20px 0 0 20px;
    box-sizing: border-box;
    transform-origin: bottom;
}

.credit-card .card-title {
    overflow: hidden;
    position: relative;
    height: 60px;
}

.credit-card:hover .card-title h1 {
    transform: translateY(-60px);
}

.credit-card .card-text p {
    color: #aeaeae;
}

.credit-card-2-img {
    object-fit: cover;
}

.card-img .card-images-1 {
    transition: all 0.6s;
    filter: brightness(50%);
}

.credit-card-3-img {
    object-fit: cover;
    width: 300px;
    margin-left: 150px;
    filter: brightness(50%);
    transition: all 0.6s;
}

.card-flex:hover .credit-card-3-img,
.card-music:hover .credit-card-6-img {
    filter: brightness(100%);
}

.card-music .card-images {
    padding: 40px 40px 0;
}

.card-distributed .card-images {
    padding: 60px 80px 0;
}

.credit-card-6-img {
    max-width: 100%;
    vertical-align: middle;
    filter: brightness(50%);
    transition: all 0.6s;
}

/* SKULL  */
#skull-parent {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

#skull-parent img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.skull {
    opacity: 0.1;
    position: absolute;
    width: 400px;
}

.people {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    margin-right: auto;
    margin-left: auto;
    opacity: 1;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

/* GALERY  */
#gallery {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    border-top: 1px solid hsla(0, 0%, 100%, 0.2);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}

.gallery-grid {
    position: absolute;
    z-index: 0;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid {
    position: relative;
    height: 100%;
    flex: 1;
}

.grid-line {
    position: absolute;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 1px;
    height: 100%;
    background-color: hsla(0, 0%, 100%, 0.2);
}

/* 
.grid-line.gl-1 {
    right: 1px;
} */

.gallery-title {
    position: absolute;
    z-index: 3;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-gallery {
    position: absolute;
    display: flex;
    overflow: hidden;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 110px;
    background-color: #000;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s ease-in;
}

.close-img {
    position: absolute;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    transition: all 0.3s;
}

.ci-2 {
    transform: translateY(40px);
}

.close-gallery:hover .ci-1 {
    transform: translateY(-40px);
}

.close-gallery:hover .ci-2 {
    transform: translateY(0px);
}

.title-parent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    transition: all 0.3s ease-in;
}

.title-text {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 35px;
    line-height: 44px;
    font-weight: 400;
}

.g-close {
    position: relative;
    padding: 5px 8px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.gallery-layout {
    display: grid;
    grid-auto-columns: 1fr;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
}

.gallery-img {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in;
}

.gi-1 {
    background-image: url(images/amphibia.jpg);
}

.gi-2 {
    background-image: url(images/mammals.jpg);
}

.gi-3 {
    background-image: url(images/poultry.jpg);
}

.gi-4 {
    background-image: url(images/reptile.jpg);
}

.gi-5 {
    background-image: url(images/creditBg-2.jpg);
}

.gi-6 {
    background-image: url(images/creditBg-2.jpg);
}

.gi-7 {
    background-image: url(images/creditBg-6.jpg);
}

.gi-8 {
    background-image: url(images/amphibia.jpg);
}

.gi-9 {
    background-image: url(images/poultry.jpg);
}

.gi-10 {
    background-image: url(images/mammals.jpg);
}

.gi-11 {
    background-image: url(images/reptile.jpg);
}

#g-img-1 {
    grid-row-start: span 2;
    grid-row-end: span 2;
    grid-column-start: span 3;
}

#g-img-2 {
    grid-row-start: span 2;
    grid-row-end: span 2;
    grid-column-start: span 1;
}

#g-img-4 {
    grid-row-start: span 2;
    grid-row-end: span 2;
    grid-column-start: span 3;
}

#g-img-6 {
    grid-row-start: span 2;
    grid-row-end: span 2;
    grid-column-start: span 2;
}

#g-img-7 {
    grid-row-start: span 5;
    grid-row-end: span 5;
    grid-column-start: span 3;
}

#g-img-8 {
    grid-row-start: span 4;
    grid-row-end: span 4;
    grid-column-start: span 3;
}

#g-img-9 {
    grid-row-start: span 3;
    grid-row-end: span 3;
    grid-column-start: span 2;
}

#g-img-10 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
}

#g-img-11 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
}

.share-btn {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 10;
    width: 80px;
    margin-right: auto;
    margin-left: auto;
    padding: 8px;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    max-width: 100%;
    display: inline-block;
}

.share-btn:hover {
    color: #fff;
}